<ion-view ng-init="runAdverts()">  
<ion-nav-bar class="bar nav-title-slide-ios7 bar-clear">
    <ion-nav-buttons>
        <div class="button selStar" style="background-color: transparent; min-width: 7em; width: 80px;" ng-click="closeAbout()">
    <span style="font-family: Ichiro; font-size: 3em; color: orange;">Got it</span></div>
    </ion-nav-buttons>
</ion-nav-bar> 
<ion-content class="covfefe" overflow-scroll="true">


    <div align="center">
      <h1 class="chigTitle">
        <strong>Chigago</strong>
      </h1>
      <img src="img/icon.png" class="revolution" style="max-height: 50px; max-width: 50px; display: inline-block; margin: 0px; vertical-align: middle;">
    </div>

     <p style=" margin-top: 10px; padding-left: 30px; padding-right: 30px; color: white;">

    Chigago (African dodgeball) 1.0.0 is an open source video game for persons of all ages. The video game was inspired by the popular South African recreational game of the same name (aka "Bhathi", "Driepoties", "Chingwii", "Amatin"). It is licensed under the GNU General Public License, version 3 or later. For more, contact <span style="color: orange;"> chigago.devops@gmail.com</span>.
    </p><br>

    <div style="color: powderblue; text-align: center;" align="center">================= Credits ================</div>

    <p style=" margin-top: 0px; padding: 30px; color: white;">
    <strong style="font-size: 1.1em;">Mpho "Seiku" Kutoane </strong> : <br>
     Concept Development, Graphics Design, 3D Modeling, Gaming Artificial Intelligence, Animations & Programming. <br>
    <span style="color:  orange;">mphothedev@gmail.com</span>

 <!--    <strong  style="font-size: 1.1em;">Edward Wrede</strong> : <br>
      Refactoring, Testing & Product Stability<br>
    <span style="color: powderblue;">edwrede@empirestate.com</span><br> -->

    <div style="color: powderblue; text-align: center;" align="center">=============== Acknowledgements =============</div>

     <p style=" margin-top: 0px; padding: 30px; color: white;">
     - <strong>Nelisiwe Skosana </strong><span style="color:  orange; float: right;"></span><br>
     - <strong>Lethumusa Kulube </strong><span style="color:  orange; float: right;"></span><br>
     - <strong>Ed Wrede </strong><span style="color:  orange; float: right;"></span><br>     
     - <strong>Gopolang Lekoto </strong><span style="color:  orange; float: right;"></span><br>
     - <strong>Ichiro Suzuki</strong><span style="color:  orange; float: right;"></span><br>
     - <strong>Chandler Prall </strong><span style="color:  orange; float: right;"> http://chandlerprall.github.com</span><br>
     - <strong>Mr Doob, creator of three.js </strong><span style="color:  orange; float: right;">  https://github.com/mrdoob </span><br>
     - <strong>Vecteezy </strong><span style="color:  orange; float: right;">  Vecteezy.com </span><br>
     - <strong>Blender Foundation </strong><span style="color:  orange; float: right;"> foundation@blender.org </span><br>
     - <strong>Max Lynch (for Ionic) </strong><span style="color:  orange; float: right;">  https://github.com/mlynch </span><br>
     - <strong>Angular Core Team </strong><span style="color:  orange; float: right;"> angular-core-npm@google.com </span><br>
     - <strong>EmojiOne (for providing free emoji icons)</strong><span style="color:  orange; float: right;">https://www.emojione.com</span><br>
   </p>
   <div style="color: powderblue; text-align: center;" align="center">================= Disclaimer ================</div>
    <p style=" margin-top: 0px; padding: 30px; color: white;">


   <!--      PS: The entire source code will be available on GitHub no later than November 2018 and the repository will be registered under the MIT license so pretty please DO NOT attempt to reverse-engineer this app. Although the main purpose of releasing the binaries to the public is to get a volunteer to maintain the code, feel free to reuse the components as you please for any purpose even commercial. The only condition is that due credit be given to Chigago's chief architect and coder <strong>Mpho Kutoane</strong> within each copy of any component or product that uses that component.<br><br> -->

    The developer has taken extensive care in the preparation of this app, but makes no expressed or implied warranty of any kind and assumes no responsibility for errors or omissions. No liability is assumed for incidental or consequential damages in connection with or arising out of the use of the information or programs contained herein. <br>
    </p>

 </ion-content>      
</ion-view> 

<style type="text/css">
      .selStar{
  width: 80px;
  padding: 2px;
}

  .covfefe{
    background-image: url('img/home_bg.png');
    /*background-color: yellow;*/
    background-repeat: no-repeat;
    background-size: cover;
    
  }

  .chigTitle{
    font-family: Ichiro; 
    color: orange; 
    text-align: center; 
    font-size: 4em;
    display: inline-block; 
    vertical-align: middle;
  }


</style>