<ion-view name="menuContent">
    <ion-nav-bar class="bar-clear">

      <ion-nav-buttons side="left">
       <!-- <button class="button button-icon ion-gear-b" ng-click="settings($event)" style="margin-left: 15px; color: grey;"></button> -->
      </ion-nav-buttons>

      <ion-nav-buttons side="right">
        <button class="button button-clear" ng-click="appShutdown()" style="font-size: 2.5em; font-family: Ichiro; color: orange;">Exit</button>
      </ion-nav-buttons>
     </ion-nav-bar>
  <ion-content class="padding">
      <h3 style="color: grey; vertical-align: middle;">
            This copy of chigago was for demonstration purposes only and has thus expired.
            To relieve some memory on your device, it would be advisable to uninstall it as there
            is no way to make it work. The app has completely and permanently shut down. 
      </h3><br><br>
      <h4 style="color: grey; vertical-align: middle;">
          This message was brought to you by <span style="color: orange">Kutoane Technologies Inc.</span><br>
          For any queries, contact <span style="color: green;">chigago.devops@gmail.com</span>
      </h4>
 </ion-content>
</ion-view>